.todoItemWrapper {
  padding: 15px 10px;
  border-bottom: 1px solid #f2f2f2;
}

.todoItemTitle {
  text-align: left;
  font-size: 18px;
  color: #2D2D62;
}

.todoItemDescription {
  text-align: left;
  font-size: 15px;
  color: #2D2D62;
}